.book-card {
  background-color: var(--background-color);
  color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 8px;
  padding: 15px;
  margin: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 200px;
  height: 400px; /* Fixed height for the card */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 592px) {
  .book-card {
    width: 150px;
    height: 320px; /* Adjusted height for the card */
  }

  .book-card-image {
    height: 200px;
  }

  .book-card-title {
    font-size: 0.9em; /* Further reduced font size */
  }

  .read-button {
    padding: 6px 10px;
    font-size: 0.8em;
  }

  .favorite-icon {
    font-size: 18px;
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 490px) {
  .book-card {
    width: 200px;
    height: 400px;
  }

  .book-card-image {
    height: 300px;
  }

  .book-card-title {
    font-size: 1.2em;
  }

  .read-button {
    padding: 8px 12px;
    font-size: 0.9em;
  }

  .favorite-icon {
    font-size: 20px;
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 344px) {
  .book-card {
    width: 200px;
    height: 400px;
  }

  .book-card-image {
    height: 300px;
  }

  .book-card-title {
    font-size: 1.2em;
  }

  .read-button {
    padding: 8px 12px;
    font-size: 0.9em;
  }

  .favorite-icon {
    font-size: 20px;
    width: 30px;
    height: 30px;
  }
}

.book-card-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
}

.book-card-title {
  font-size: 1.2em;
  margin-top: 3px;
  margin-bottom: 3px;
  font-weight: bold;
  text-align: center;
  color: var(--accent-color);
  margin: 0 auto;
}

.book-card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.read-button {
  background-color: var(--accent-color);
  color: var(--primary-color);
  padding: 8px 12px; /* Smaller padding */
  border-radius: 5px;
  border: none;
  cursor: pointer;
  flex-grow: 1; /* Allow button to grow */
  margin-right: 5px; /* Small gap */
}

.favorite-icon {
  cursor: pointer;
  color: white; /* White by default, red when liked */
  font-size: 20px; /* Slightly smaller heart */
  background-color: var(--primary-color); /* Background for the heart icon */
  padding: 4px;
  margin-right: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px; /* Fixed width for circular background */
  height: 30px; /* Fixed height for circular background */
  transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease; /* Add transform to transition */
}

.favorite-icon.liked {
  color: red; /* Red when liked */
  transform: scale(1.2); /* Scale effect */
}
